Repository lingoda/domain-events: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, phplint, linguando-phpspec, src-phpstan, tests-phpstan

composer-validate:
  name: Validate project composer
  language: system
  entry: composer validate -d .
  pass_filenames: false

phplint:
  name: PHP lint
  language: system
  entry: php -l

linguando-phpspec:
  name: Linguando phpspec
  language: system
  pass_filenames: false
  entry: vendor/phpspec/phpspec/bin/phpspec run

src-phpstan:
  name: domain-events src phpstan
  language: system
  entry: vendor/bin/phpstan analyse
  args:
  - -c
  - ./phpstan.neon

tests-phpstan:
  name: domain-events tests phpstan
  language: system
  entry: vendor/bin/phpstan analyse
  args:
  - -c
  - ./phpstan.tests.neon

[LW-21356][FEATURE] Adjusted hook names
  .pre-commit-config.yaml
Due: none

LW-21356 BE Sync domain-events bundle with main monolith domain-events package changes (#6)
  .pre-commit-config.yaml
  README.md
  composer.json
  phpstan.neon
  spec/Infra/Doctrine/EventSubscriber/PersistDomainEventsSubscriberSpec.php
  src/Infra/Doctrine/EventSubscriber/PersistDomainEventsSubscriber.php
Due: composer-validate, phplint, linguando-phpspec, src-phpstan

Allowing recording of events from outside of entities
  src/Domain/Model/Traits/EventRecorderTrait.php
Due: phplint, linguando-phpspec, src-phpstan

Allowing recording of events from outside of entities (#7)
  src/Domain/Model/Traits/EventRecorderTrait.php
Due: phplint, linguando-phpspec, src-phpstan

Reverted public to protected on recordEvent
  src/Domain/Model/Traits/EventRecorderTrait.php
Due: phplint, linguando-phpspec, src-phpstan

Reverted public to protected on recordEvent (#8)
  src/Domain/Model/Traits/EventRecorderTrait.php
Due: phplint, linguando-phpspec, src-phpstan

Bump deps
  composer.json
Due: composer-validate

Use json odm
  composer.json
  src/Infra/Doctrine/Entity/OutboxRecord.php
  src/Infra/Doctrine/Type/ByteObjectType.php
  src/LingodaDomainEventsBundle.php
Due: composer-validate, phplint, linguando-phpspec, src-phpstan

Upgrade doc, change column name
  UPGRADE.md
  src/Infra/Doctrine/Entity/OutboxRecord.php
Due: phplint, linguando-phpspec, src-phpstan

Use JSON ODM column to serialize event object (#9)
  UPGRADE.md
  composer.json
  src/Infra/Doctrine/Entity/OutboxRecord.php
  src/Infra/Doctrine/Type/ByteObjectType.php
  src/LingodaDomainEventsBundle.php
Due: composer-validate, phplint, linguando-phpspec, src-phpstan

Option to keep recent events when purging
  src/Domain/Model/OutboxStore.php
  src/Infra/Doctrine/DoctrineOutboxStore.php
  src/Infra/Doctrine/Repository/OutboxRecordRepository.php
Due: phplint, linguando-phpspec, src-phpstan

Bump dev packages
  composer.json
Due: composer-validate

Add arg to test
  spec/Infra/Doctrine/DoctrineOutboxStoreSpec.php
Due: phplint, linguando-phpspec

Fix unnecessary dep constraint
  composer.json
  phpunit.xml.dist
Due: composer-validate

Drop xdebug
  .github/workflows/ci.yaml
Due: none

Fix CI and bump actions
  .github/workflows/ci.yaml
Due: none

Ignore one
  phpstan.neon
  src/Infra/Symfony/Messenger/Transport/OutboxTransport.php
Due: phplint, linguando-phpspec, src-phpstan

Bump actions
  .github/workflows/ci.yaml
Due: none

Functional test DoctrineOutboxStore::purgePublishedEvents()
  composer.json
  phpstan.neon
  src/Infra/Doctrine/DoctrineOutboxStore.php
  src/Infra/Serializer/CarbonNormalizer.php
  src/Infra/Symfony/Messenger/OutboxMessageHandler.php
  tests/BundleInitializationTest.php
  tests/Infra/Doctrine/DoctrineOutboxStoreTest.php
  tests/config.yaml
Due: composer-validate, phplint, linguando-phpspec, src-phpstan, tests-phpstan

Allow doctrine/dbal 3.4.*
  composer.json
Due: composer-validate

Allow doctrine/dbal 3.4.* (#13)
  composer.json
Due: composer-validate

Allow Symfony 7.x in composer.json
  composer.json
Due: composer-validate

Allow Symfony 7.x in composer.json (#14)
  composer.json
Due: composer-validate

Allow DBAL 3.4 +
  composer.json
Due: composer-validate

Added CI matrix steps for different PHP versions and Symfony versions
  .github/workflows/ci.yaml
  src/Infra/Doctrine/Entity/OutboxRecord.php
  src/Infra/Symfony/EventSubscriber/DefaultDomainEventDispatcher.php
  src/Infra/Symfony/Messenger/OutboxMessageHandler.php
  src/Infra/Symfony/Messenger/Transport/OutboxTransport.php
  src/Infra/Symfony/Messenger/Transport/OutboxTransportFactory.php
Due: phplint, linguando-phpspec, src-phpstan

Removed phpstan cache and added support for skipping steps if cancelled
  .github/workflows/ci.yaml
Due: none

Reverted back to composer update with args
  .github/workflows/ci.yaml
Due: none

Dropped Symfony 5.x and PHP 8.1
  .github/workflows/ci.yaml
Due: none

Synced composer requirements to lingoda
  composer.json
  spec/Infra/Symfony/LockableEventPublisherSpec.php
Due: composer-validate, phplint, linguando-phpspec

Fixed issues on lowest
  composer.json
  src/Infra/Doctrine/Entity/OutboxRecord.php
  src/Infra/Symfony/EventSubscriber/DefaultDomainEventDispatcher.php
  src/Infra/Symfony/Messenger/OutboxMessageHandler.php
Due: composer-validate, phplint, linguando-phpspec, src-phpstan

Deprecations and SF version restriction for flex
  composer.json
  phpstan.neon
  phpunit.xml.dist
  src/DependencyInjection/Configuration.php
Due: composer-validate, phplint, linguando-phpspec, src-phpstan

Added flex and deprecations
  composer.json
  phpunit.xml.dist
Due: composer-validate

Reverted phpunit conf
  phpunit.xml.dist
Due: none

Fixed deprecation on doctrine ObjectType
  composer.json
  phpunit.xml.dist
  src/Infra/Doctrine/Type/ByteObjectType.php
Due: composer-validate, phplint, linguando-phpspec, src-phpstan

Wrapped messnger exceptions + tests
  spec/Infra/Symfony/EventSubscriber/DefaultDomainEventDispatcherSpec.php
  spec/Infra/Symfony/Messenger/OutboxMessageHandlerSpec.php
  src/Infra/Doctrine/Type/ByteObjectType.php
  src/Infra/Symfony/EventSubscriber/DefaultDomainEventDispatcher.php
  src/Infra/Symfony/Messenger/OutboxMessageHandler.php
Due: phplint, linguando-phpspec, src-phpstan

Removed flex install from composer
  .github/workflows/ci.yaml
Due: none

Removed reporting on ignored errors on phpstan and removed flex from composer
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  composer.json
  phpstan.common.neon
Due: composer-validate

Install dotenv with flex
  .github/workflows/ci.yaml
Due: none

Allow DBAL 3.4 + (#15)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  composer.json
  phpstan.common.neon
  phpstan.neon
  spec/Infra/Symfony/EventSubscriber/DefaultDomainEventDispatcherSpec.php
  spec/Infra/Symfony/LockableEventPublisherSpec.php
  spec/Infra/Symfony/Messenger/OutboxMessageHandlerSpec.php
  src/DependencyInjection/Configuration.php
  src/Infra/Doctrine/Type/ByteObjectType.php
  src/Infra/Symfony/EventSubscriber/DefaultDomainEventDispatcher.php
  src/Infra/Symfony/Messenger/OutboxMessageHandler.php
  src/Infra/Symfony/Messenger/Transport/OutboxTransport.php
  src/Infra/Symfony/Messenger/Transport/OutboxTransportFactory.php
Due: composer-validate, phplint, linguando-phpspec, src-phpstan

Updated annotations to attributes
  composer.json
  rector.php
  src/Infra/Doctrine/Entity/OutboxRecord.php
Due: composer-validate, phplint, linguando-phpspec, src-phpstan

Path conditions:
  composer-validate: any of: composer.json
  phplint: any of: \.php$
  linguando-phpspec: any of: \.php$
  src-phpstan: any of: ^src\/.*\.php$
  tests-phpstan: any of: ^tests\/.*\.php$
