Repository lingoda/domain-events: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, phplint, linguando-phpspec, src-phpstan, tests-phpstan

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-vcs-permalinks
      - id: check-xml
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: composer-validate
        name: Validate project composer
        language: system
        entry: composer validate -d .
        files: composer.json
        pass_filenames: false

      - id: phplint
        name: PHP lint
        language: system
        entry: php -l
        files: \.php$

      - id: linguando-phpspec
        name: Linguando phpspec
        language: system
        pass_filenames: false
        entry: vendor/phpspec/phpspec/bin/phpspec run
        files: \.php$

      - id: src-phpstan
        name: domain-events src phpstan
        language: system
        entry: vendor/bin/phpstan analyse
        args: ['-c', './phpstan.neon']
        files: ^src\/.*\.php$

      - id: tests-phpstan
        name: domain-events tests phpstan
        language: system
        entry: vendor/bin/phpstan analyse
        args: ['-c', './phpstan.tests.neon']
        files: ^tests\/.*\.php$

Updated annotations to attributes (#16)
  composer.json
  rector.php
  src/Infra/Doctrine/Entity/OutboxRecord.php
Due: composer-validate, phplint, linguando-phpspec, src-phpstan

Converted doctrine subscriber to listener, as subscriber interface is deprecated and is replaced by attribute on doctrine bundle v2.8+
  composer.json
  spec/Infra/Doctrine/EventSubscriber/PersistDomainEventsSubscriberSpec.php
  src/Infra/Doctrine/EventSubscriber/PersistDomainEventsSubscriber.php
  src/Resources/config/services.xml
Due: composer-validate, phplint, linguando-phpspec, src-phpstan

Converted doctrine subscriber to listener, as subscriber interface is deprecated and is replaced by attribute on doctrine bundle v2.8+ (#17)
  composer.json
  spec/Infra/Doctrine/EventSubscriber/PersistDomainEventsSubscriberSpec.php
  src/Infra/Doctrine/EventSubscriber/PersistDomainEventsSubscriber.php
  src/Resources/config/services.xml
Due: composer-validate, phplint, linguando-phpspec, src-phpstan

Reverted JsonType to ObjectType
  src/Infra/Doctrine/Type/ByteObjectType.php
Due: phplint, linguando-phpspec, src-phpstan

Removed deprecation error
  phpunit.xml.dist
Due: none

Reverted JsonType to ObjectType (#18)
  phpunit.xml.dist
  src/Infra/Doctrine/Type/ByteObjectType.php
Due: phplint, linguando-phpspec, src-phpstan

LW-31230: upgrade doctrine/orm
  composer.json
Due: composer-validate

feat: allow Symfony 8, bump PHP ^8.3, upgrade PHPStan 2, update CI
  .github/workflows/ci.yaml
  composer.json
  phpstan.common.neon
  phpstan.neon
Due: composer-validate

feat: allow Symfony 8, bump PHP ^8.3, upgrade PHPStan 2, update CI (#19)
  .github/workflows/ci.yaml
  composer.json
  phpstan.common.neon
  phpstan.neon
Due: composer-validate

fix: optimize outbox index column order for unpublished event queries
  src/Infra/Doctrine/Entity/OutboxRecord.php
Due: phplint, linguando-phpspec, src-phpstan

fix: optimize outbox index column order for unpublished event queries (#20)
  src/Infra/Doctrine/Entity/OutboxRecord.php
Due: phplint, linguando-phpspec, src-phpstan

Add possibility to SKIP LOCKED if supported by DB
  README.md
  spec/Infra/Symfony/Messenger/Transport/OutboxTransportSpec.php
  src/Infra/Doctrine/Query/SkipLockedSqlWalker.php
  src/Infra/Doctrine/Repository/OutboxRecordRepository.php
  src/Infra/Symfony/Messenger/Transport/OutboxTransport.php
  src/Infra/Symfony/Messenger/Transport/OutboxTransportFactory.php
Due: phplint, linguando-phpspec, src-phpstan

Add SkipLocakedSqlWalkerTest
  tests/Infra/Doctrine/Query/SkipLockedSqlWalkerTest.php
Due: phplint, linguando-phpspec, tests-phpstan

Add possibility to SKIP LOCKED if supported by DB (#21)
  README.md
  spec/Infra/Symfony/Messenger/Transport/OutboxTransportSpec.php
  src/Infra/Doctrine/Query/SkipLockedSqlWalker.php
  src/Infra/Doctrine/Repository/OutboxRecordRepository.php
  src/Infra/Symfony/Messenger/Transport/OutboxTransport.php
  src/Infra/Symfony/Messenger/Transport/OutboxTransportFactory.php
  tests/Infra/Doctrine/Query/SkipLockedSqlWalkerTest.php
Due: phplint, linguando-phpspec, src-phpstan, tests-phpstan

Upgrade to Doctrine 3 compatibility
  composer.json
  phpstan.neon
  phpstan.test.neon
  spec/Infra/Symfony/Messenger/Transport/OutboxTransportSpec.php
  src/DependencyInjection/LingodaDomainEventsExtension.php
  src/Infra/Doctrine/DoctrineOutboxStore.php
  src/Infra/Doctrine/Entity/OutboxRecord.php
  src/Infra/Doctrine/Query/SkipLockedSqlWalker.php
  src/Infra/Doctrine/Type/ByteObjectType.php
  src/Resources/config/services.php
  src/Resources/config/services.xml
  tests/BundleInitializationTest.php
  tests/Infra/Doctrine/Query/SkipLockedSqlWalkerTest.php
  tests/config.yaml
Due: composer-validate, phplint, linguando-phpspec, src-phpstan, tests-phpstan

Upgrade to Doctrine 3 compatibility (#22)
  composer.json
  phpstan.neon
  phpstan.test.neon
  spec/Infra/Symfony/Messenger/Transport/OutboxTransportSpec.php
  src/DependencyInjection/LingodaDomainEventsExtension.php
  src/Infra/Doctrine/DoctrineOutboxStore.php
  src/Infra/Doctrine/Entity/OutboxRecord.php
  src/Infra/Doctrine/Query/SkipLockedSqlWalker.php
  src/Infra/Doctrine/Type/ByteObjectType.php
  src/Resources/config/services.php
  src/Resources/config/services.xml
  tests/BundleInitializationTest.php
  tests/Infra/Doctrine/Query/SkipLockedSqlWalkerTest.php
  tests/config.yaml
Due: composer-validate, phplint, linguando-phpspec, src-phpstan, tests-phpstan

Allow DoctrineBundle 3.0
  composer.json
Due: composer-validate

ci: fix Symfony 8 cells (TreeBuilder generics + matrix exclude)
  .github/workflows/ci.yaml
  phpstan.neon
Due: none

Allow DoctrineBundle 3.0 (#23)
  .github/workflows/ci.yaml
  composer.json
  phpstan.neon
Due: composer-validate

LW-34161 Fix getRecordCount always returning 1
  src/Infra/Doctrine/Repository/OutboxRecordRepository.php
  tests/Fixtures/RepositoryTestEvent.php
  tests/InMemoryDatabaseTestCase.php
  tests/Infra/Doctrine/Repository/OutboxRecordRepositoryTest.php
Due: phplint, linguando-phpspec, src-phpstan, tests-phpstan

LW-34161 Enable native lazy objects only on PHP >= 8.4
  tests/InMemoryDatabaseTestCase.php
Due: phplint, linguando-phpspec, tests-phpstan

LW-34161 Fix getRecordCount always returning 1 (#24)
  src/Infra/Doctrine/Repository/OutboxRecordRepository.php
  tests/Fixtures/RepositoryTestEvent.php
  tests/InMemoryDatabaseTestCase.php
  tests/Infra/Doctrine/Repository/OutboxRecordRepositoryTest.php
Due: phplint, linguando-phpspec, src-phpstan, tests-phpstan

LW-34233: Batch outbox claiming and confirm relays on ack
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  spec/Infra/Doctrine/DoctrineOutboxStoreSpec.php
  spec/Infra/Symfony/Messenger/OutboxMessageHandlerSpec.php
  spec/Infra/Symfony/Messenger/Transport/OutboxTransportFactorySpec.php
  spec/Infra/Symfony/Messenger/Transport/OutboxTransportSpec.php
  src/Infra/Doctrine/DoctrineOutboxStore.php
  src/Infra/Doctrine/Entity/OutboxRecord.php
  src/Infra/Doctrine/Repository/OutboxRecordRepository.php
  src/Infra/Symfony/Messenger/OutboxMessage.php
  src/Infra/Symfony/Messenger/OutboxMessageHandler.php
  src/Infra/Symfony/Messenger/Transport/OutboxRecordIdStamp.php
  src/Infra/Symfony/Messenger/Transport/OutboxTransport.php
  src/Infra/Symfony/Messenger/Transport/OutboxTransportFactory.php
  tests/Fixtures/ReplaceableTestDomainEvent.php
  tests/Fixtures/TestDomainEvent.php
  tests/InMemoryDatabaseTestCase.php
  tests/Infra/Doctrine/DoctrineOutboxStoreTest.php
  tests/Infra/Doctrine/Repository/OutboxRecordRepositoryTest.php
  tests/Infra/Symfony/Messenger/Transport/OutboxTransportTest.php
Due: phplint, linguando-phpspec, src-phpstan, tests-phpstan

LW-34233: Batch outbox claiming and confirm relays on ack (#25)
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  spec/Infra/Doctrine/DoctrineOutboxStoreSpec.php
  spec/Infra/Symfony/Messenger/OutboxMessageHandlerSpec.php
  spec/Infra/Symfony/Messenger/Transport/OutboxTransportFactorySpec.php
  spec/Infra/Symfony/Messenger/Transport/OutboxTransportSpec.php
  src/Infra/Doctrine/DoctrineOutboxStore.php
  src/Infra/Doctrine/Entity/OutboxRecord.php
  src/Infra/Doctrine/Repository/OutboxRecordRepository.php
  src/Infra/Symfony/Messenger/OutboxMessage.php
  src/Infra/Symfony/Messenger/OutboxMessageHandler.php
  src/Infra/Symfony/Messenger/Transport/OutboxRecordIdStamp.php
  src/Infra/Symfony/Messenger/Transport/OutboxTransport.php
  src/Infra/Symfony/Messenger/Transport/OutboxTransportFactory.php
  tests/Fixtures/ReplaceableTestDomainEvent.php
  tests/Fixtures/TestDomainEvent.php
  tests/InMemoryDatabaseTestCase.php
  tests/Infra/Doctrine/DoctrineOutboxStoreTest.php
  tests/Infra/Doctrine/Repository/OutboxRecordRepositoryTest.php
  tests/Infra/Symfony/Messenger/Transport/OutboxTransportTest.php
Due: phplint, linguando-phpspec, src-phpstan, tests-phpstan

DO-1094: replace styfle/cancel-workflow-action with native concurrency
  .github/workflows/ci.yaml
Due: none

DO-1094: replace styfle/cancel-workflow-action with native concurrency (#26)
  .github/workflows/ci.yaml
Due: none
